<%- include('../partials/header.ejs') %>

<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav class="nav flex-column">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>
        </div>
        <div class='col-md-9'>
            <div class="card-deck">

              <% for (let i = 0; i < videos.length; i++) { %>
                <div class="card">
                    <div class='embed-responsive embed-responsive-16by9'>
                  <img class='card-top embed-responsive-item' src='<%= videos[i].image %>'/>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><%= videos[i].name%></h5>
                    <p class="card-text"><%= videos[i].description %></p>
                  </div>
                </div>
                
          <%  } %>
                

  </div>
</div>
        </div>
    </div>
</div>




<%- include('../partials/footer') %>
